# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string "server=127.0.0.1;database=essentialmode;userid=root;"
set es_enableCustomData 1

# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog
ensure scoreboard
ensure cron
#ensure instance
ensure NativeUI

# Essentials
ensure esplugin_mysql
ensure mysql-async
ensure async
ensure essentialmode
ensure es_ui
ensure es_admin2
ensure es_extended

# GCPhone/Screenshot-Basic GOES HERE IF YOU USE IT

# ESX UI
ensure esx_menu_default
ensure esx_menu_list
ensure esx_menu_dialog

# ESX Required Scripts
#ensure esx_migrate # Not typically needed anymore. Migrates the 'old' owned_vehicles database to an improved system.
ensure esx_addonaccount
ensure esx_addoninventory
ensure esx_billing
ensure esx_datastore
ensure esx_service
ensure esx_society
ensure esx_status
ensure esx_identity
ensure esx_skin
ensure skinchanger

# ESX Jobs
ensure esx_joblisting

# ESX Shops

# ESX Others (Anything else ESX Based)

# Admin Only
ensure EasyAdmin
ensure esx_marker
ensure es_camera

# EUP/Custom Clothes

# Vehicles



# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
#rcon_password ""

# A comma-separated list of tags for your server.
sets tags "roleplay, active community, staff, esx"

sets locale "en-US" 

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"
sets "Discord" "https://discord.gg/9uRJv5v" #Change this to a permanent invite link to YOUR discord

# Loading a server icon (96x96 PNG file)
#load_server_icon myLogo.png

# Set your server's hostname
sv_hostname "^1Pre^7-^8Made ^3ESX ^1Server ^8Base ^7By ^3BTNGaming"

# Nested configs!
#exec server_internal.cfg


# convars which can be used in scripts
set temp_convar "hey world!"

# Uncomment this line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
#sv_master1 ""

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
#add_principal identifier.fivem:1 group.admin # add the admin to the group
add_ace resource.essentialmode command.add_principal allow
add_ace resource.essentialmode command.sets allow
add_ace resource.essentialmode command.add_ace allow
add_ace resource.cron command.sets allow
add_ace resource.esx_datastore command.sets allow
add_principal identifier.steam:11000010361846a group.admin # BTNGaming (Replace 11000010361846a with your steam identifier)

# Hide player endpoints in external log output.
sv_endpointprivacy true

# enable OneSync with default configuration (required for server-side state awareness) (To disable onesync put a # in front of the next 3 lines)
onesync_enabled true
set onesyncworkaround763185 1
set onesync_forceMigration true

# Server player slot limit (must be between 1 and 32, unless using OneSync then set to 64(Or higher if you pay for a higher playercount))
sv_maxclients 32

# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "PUTYOURKEYHERE" with the key
set steam_webApiKey PUTYOURKEYHERE

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey REPLACETHISTEXTWITHYOURKEY